<div class="card-content">
    <div class="card-img">
    <img src="../../assets/img/luz-naturaleza-696x392.jpg" alt="">
    <span><h4>{{destino?.nombre}}</h4></span>
</div>
<div class="card-desc">
    <h3>{{destino?.nombre}}</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, quaerat non laboriosam eos ipsam architecto. Sint itaque earum officiis beatae in recusandae, 
            culpa fugiat vel maiores tempora doloribus, accusantium voluptate?</p>
            <a href="#" class="btn-card"(click)="ir()">Ir!</a>
            <span [style.display]="destino?.isSelected() ? '' : 'none'"> - PREFERIDO - </span>
    </div>
</div>